.first-signup-header
  .first-signup-header__logo
    = link_to image_tag("/fmarket_logo_red.svg",size: "200x120"), ""
.signup-main
  .signup-contents
    .signup-contents-message 
      %b 新規登録会員
    .signup-contents-box
      .signup-contents-box-inner
        =link_to "/signup/registration", class:"signup-contents-box-inner__btn signup-contents-box-inner__btn--red" do
          = icon('far', 'envelope', class: "signup-contents-box-inner__btn--icon ")
          メールアドレスで登録する
        =link_to "devise/shared/links", class: "signup-contents-box-inner__btn signup-contents-box-inner__btn--facebook" do
          = icon('fab', 'facebook-square', class: "signup-contents-box-inner__btn--icon")
          Facebookで登録する
          = render "devise/shared/links" 
        =link_to "", class: "signup-contents-box-inner__btn signup-contents-box-inner__btn--google" do
          = icon('fab', 'google', class: "signup-contents-box-inner__btn--icon")
          Googleで登録する
          
= render partial: "shared/signup-footer"
