.signup-header
  .signup-header__logo
    = link_to image_tag("/fmarket_logo_red.svg",size: "200x120"), ""
  = render partial: "progress"
.signup-main
  .signup-contents
    .signup-contents-message 
      %b 住所入力
    .signup-contents-box
      .signup-contents-box-inner
        = form_for @user, url: credit_card_signup_index_path, method: :post, html:{ class: :tel_class } do |f| 
          .signup-contents-box-inner__field
            %b お名前  
            %span.red-mini 必須
            = f.text_field :family_name, class: 'input-field', placeholder: "   例）山田"
            = render partial: 'shared/error-messages', locals: {user: @user, column: "family_name"} 
            = f.text_field :first_name, class: 'input-field', placeholder: "   例）彩"
            = render partial: 'shared/error-messages', locals: {user: @user, column: "first_name"}
          .signup-contents-box-inner__field
            %b お名前カナ 
            %span.red-mini 必須
            = f.text_field :family_kana_name, class: 'input-field', placeholder: "   例）ヤマダ"
            = render partial: 'shared/error-messages', locals: {user: @user, column: "family_kana_name"}
            = f.text_field :first_kana_name, class: 'input-field', placeholder: "   例）アヤ"
            = render partial: 'shared/error-messages', locals: {user: @user, column: "first_kana_name"}
            = f.fields_for :address do |fin|
              .signup-contents-box-inner__field
                %b 郵便番号  
                %span.red-mini 必須
                = fin.text_field :postal_code, class: 'input-field', placeholder: "   例）123-4567"
                = render partial: 'shared/error-messages-address', locals: {user: @user.build_address, column: "postal_code"}
              .signup-contents-box-inner__field
                %b 都道府県  
                %span.red-mini 必須
                = fin.text_field :prefecture, class: 'input-field', placeholder: "   例）北海道"
              .signup-contents-box-inner__field
                %b 市区町村  
                %span.red-mini 必須
                = fin.text_field :city, class: 'input-field', placeholder: "   例）横浜市緑区"
              .signup-contents-box-inner__field
                %b 番地  
                %span.red-mini 必須
                = fin.text_field :house_number, class: 'input-field', placeholder: "   例）青山1-1-1"
              .signup-contents-box-inner__field
                %b 建物名  
                %span.red-mini 必須
                = fin.text_field :building_name, class: 'input-field', placeholder: "   例）柳ビル103"
          .signup-contents-box-inner__field
            %b 電話  
            %span.red-mini 必須
            = f.text_field :telephone_number, class: 'input-field', placeholder: "   例）09012345678"
          .signup-contents-box-inner__btn
            = f.submit "次へ進む", class: 'signup-contents-box-inner__btn--red'

= render partial: "shared/signup-footer"