.signup-header
  .signup-header__logo
    = link_to image_tag("/fmarket_logo_red.svg",size: "200x120"), ""
.signup-main
  .signup-contents
    .signup-contents-message 
      %b お支払い方法
    .signup-contents-box
      .signup-contents-box-inner
        = form_for @user, url: "/signup" , html:{ class: :tel_class }, method: :post do |f| 
          .signup-contents-box-inner__field
            %b カード番号
            %span.red-mini 必須
            = f.text_field :card_number, class: 'input-field', placeholder: "   例）半角数字のみ"
            = image_tag("/card_m_all.gif",size: "330x30")
          .signup-contents-box-inner__field
            %b 有効期限
            %span.red-mini 必須
            %br
            = f.text_field :month, class: 'input-field--date'
            月
            %br
            = f.text_field :year, class: 'input-field--date'
            年
          .signup-contents-box-inner__field
            %b セキュリティコード
            %span.red-mini 必須
            = f.text_field :code, class: 'input-field', placeholder: "   例）カード背面4桁もしくは3桁の番号"
          .signup-contents-box-inner-form
            = link_to '#', class: 'help_center' do
              = icon('fas', 'question-circle', class: "signup-contents-box-inner__btn--icon")
              カード裏面の番号とは？
          .signup-contents-box-inner__btn
            = f.submit "次へ進む", class: 'signup-contents-box-inner__btn--red'

= render partial: "shared/signup-footer"