.signup-header
  .signup-header__logo
    = link_to image_tag("/fmarket_logo_red.svg",size: "200x120"), "", class: "logo-image"
  %nav.progress
    %ul.progress__bar
      %li.through#through
        会員情報
        .progress-status
        .progress-status_bar
      %li.active#active
        電話番号認証
        .progress-status
        .progress-status_bar
      %li.address#address
        お届け先住所入力
        .progress-status
        .progress-status_bar
      %li.payment#payment
        支払い方法
        .progress-status
        .progress-status_bar
      %li.end#end
        完了
        .progress-status
        .progress-status_bar
.signup-main
  .signup-contents
    .signup-contents-message 
      %b 会員情報入力
    .signup-contents-box
      .signup-contents-box-inner
        = form_with class: :tel_class do |form| 
          .signup-contents-box-inner__field
            %b ニックネーム 
            %span.red-mini 必須
            = form.text_field :text, class: 'input-field', placeholder: "   例）メルカリ太郎"
          .signup-contents-box-inner__field
            %b メールアドレス
            %span.red-mini 必須
            = form.text_field :text, class: 'input-field', placeholder: "   PC・携帯どちらでも可"
          .signup-contents-box-inner__field
            %b パスワード
            %span.red-mini 必須
            = form.text_field :text, class: 'input-field', placeholder: "   6文字以上"
          .signup-contents-box-inner__field
            %b パスワード (確認)
            %span.red-mini 必須
            = form.text_field :text, class: 'input-field', placeholder: "   6文字以上"
          .signup-contents-box-inner__field
            = image_tag('/image.png', size: "340x100")
          .signup-contents-box-inner__btn
            = form.submit "次へ進む", class: 'signup-contents-box-inner__btn--red'
  .signup-footer__logo
    = link_to image_tag('/logo_gray.svg', size: "100x100"), ""
    
  %p.signup-footer__down © 2019 Fmarket