// ここから画面上部の画像

.top-image 

  -# = fa_icon 'angle-left', class: 'top-image__shift-left'
  -# = fa_icon 'angle-right', class: 'top-image__shift-right'
  .fas.fa-angle-left.top-image__shift-left
  .fas.fa-angle-right.top-image__shift-right


// ここから人気カテゴリー
= render 'view/items-nav'
// ここから人気カテゴリーの新着アイテム
.items-display__wrap
  = render 'view/items-display'
  = render 'view/items-display'
  = render 'view/items-display'
  = render 'view/items-display'

// ここから人気ブランド
= render 'view/items-nav'
// ここから人気ブランドの新着アイテム
.items-display__wrap
  = render 'view/items-display'
  = render 'view/items-display'
  = render 'view/items-display'
  = render 'view/items-display'

// ここから画面下部の画像
.bottom-image
  = render 'view/bottom-image' 