.signup-header
  .signup-header__logo
    = link_to image_tag("/fmarket_logo_red.svg",size: "200x120"), ""
.signup-main
  .signup-contents
    .signup-contents-no-account
      %p アカウントをお持ちでない方はこちら
      .signup-contents-no-account-box
        .signup-contents-no-account-box-inner
          =link_to "/users/sign_up", class:"signup-contents-no-account-box-inner__btn" do
            新規会員登録
    .signup-contents-box
      .signup-contents-box-inner
        =link_to "https://www.facebook.com/", class: "signup-contents-box-inner__btn signup-contents-box-inner__btn--facebook" do
          = icon('fab', 'facebook-square', class: "signup-contents-box-inner__btn--icon")
          Facebookでログイン
        =link_to "", class: "signup-contents-box-inner__btn signup-contents-box-inner__btn--google" do
          = icon('fab', 'google', class: "signup-contents-box-inner__btn--icon")
          Googleでログイン
      .signup-contents-box-inner
        = form_for @user, url: user_session_path, class: :tel_class, method: :post do |form|
          .signup-contents-box-inner__field
            = form.email_field :email, class: 'input-field', placeholder: "   例）メールアドレス"
            = form.password_field :password, class: 'input-field', placeholder: "   例）パスワード"
         
          .signup-contents-box-inner__btn
            = form.submit "次へ進む", class: 'signup-contents-box-inner__btn--red'

= render partial: "shared/signup-footer"