%body.items-show
  %script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  %script src="item-show.js"
  %section.item-box
    %h1.item-box__name
      = @item.item_name
    .item-box__main.clearfix
      .item-box__main__image
        .item-box__main__image__main
          = image_tag "#{@item.images.first.url}", alt: "商品イメージ", class: "item-box__main__image__main__top", id:"main-photo"
        .item-box__main__image__subs
          - @item.images.each do |image|
            = image_tag("#{image.url}", alt: "商品イメージ", class: "change-photo")
      %table.item-box__main__table
        %tbody
          %tr.item-table-data
            %th 出品者
            %td.item-table-data__user
              = link_to "#{@item.user.nickname}", "", class: "item-user-name"
              .item-user-rating-box
                .item-user-rating
                  %i.fas.fa-laugh.rating-icon-color--one
                  %span 10
                .item-user-rating
                  %i.fas.fa-meh.rating-icon-color--two
                  %span 4
                .item-user-rating
                  %i.fas.fa-frown-open.rating-icon-color--three
                  %span 1
          %tr.item-table-data
            %th カテゴリー
            %td.item-table-data__category
              = link_to "カテゴリー名", "", class: "category-name"
          %tr.item-table-data
            %th ブランド
            %td.item-table-data__brand
              = link_to "ブランド名", "", class: "brand-name"
          %tr.item-table-data
            %th 商品の状態
            %td.item-table-data__condition
              = @item.condition.name
          %tr.item-table-data
            %th 配送料の負担
            %td.item-table-data__
              = @item.burden.name
          %tr.item-table-data__postage
            %th 配送の方法
            %td
              ゆうゆうメルカリ便
          %tr.item-table-data
            %th 配送元地域
            %td.item-table-data__area
              = link_to "#{@item.prefecture.name}", "", class: "prefectures"
          %tr.item-table-data
            %th 発送日の目安
            %td.item-table-data__date
              = @item.deliverydays.name
    .item-box__price
      %br
      %br
      %span.item-price
        = number_to_currency(@item.price, precision: 0, unit: "¥")
      %span.item-tax (税込)
      %span.shipping-fee
        = @item.burden.name
    - if user_signed_in? && @item.user_id == current_user.id
      .buy-btn
        = link_to '商品の編集', edit_item_path(@item) , class: "buy-btn__font"
      .or-message
        .or-message__text
          %p or
      .buy-btn-gray
        = link_to '出品を一旦停止する', "" , class: "buy-btn-gray__font"
      .buy-btn-gray
        = link_to '商品を削除する', item_path(@item) , class: "buy-btn-gray__font", data: {confirm: "本当に削除しますか"}, method: :delete
    - else
      .buy-btn
        = link_to '購入画面に進む', confirmation_item_path , class: "buy-btn__font"
      %p.delivery_caution この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .item-box__description
      %p.item-description
        = @item.discription
    .item-box__container.clearfix
      .item-box__container__left
        %button.item-button-like
          %i.far.fa-heart
          %span いいね!
          %span.fade-in-down 5
        = link_to "", class: "item-btn-report" do
          %i.far.fa-flag
          %span 不適切な商品の報告
      .item-box__container__right
        = link_to "", class: "safe-description-btn" do
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
  .item-message
    .item-message__contents
      .item-message__content
        -# 購入者コメント
        .item-message__content__icon
          = link_to  "", class: "user-mypage-link" do
            = image_tag("/user-icon-image.jpeg",alt:"アイコン画像", class: "user-icon-image")
        .item-message__content__box
          .item-message__content__box__user-name
            = link_to  "", class: "user-mypage-link" do
              %p.buyer-name
                購入者
          .item-message__content__box__body
            .item-message__content__box__body__text
              %p.buyer-comment 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            .item-message__content__box__body__icons
              .item-message__content__box__body__icons__date
                %i.far.fa-clock.clock-icon
                %span.buyer-comment-create 1時間前
              .item-message__content__box__body__icons__flag
                %i.far.fa-flag
      -# 出品者コメント
      .item-message__content
        .item-message__content__icon
          = link_to users_path(@item.user_id), class: "user-mypage-link" do
            = image_tag("/user-icon-image.jpeg",alt:"アイコン画像", class: "user-icon-image")
            .item-seller
              %span.seller-font-size 出品者
        .item-message__content__box
          .item-message__content__box__user-name
            = link_to users_path(@item.user_id), class: "user-mypage-link" do

              %p.seller-name 
                = @item.user.nickname
          .item-message__content__box__body
            %p.seller-comment 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            .item-message__content__box__body__icons
              .item-message__content__box__body__icons__date
                %i.far.fa-clock.clock-icon
                %span.seller-comment-create 1時間前
              .item-message__content__box__body__icons__flag
                %i.far.fa-flag
      .item-message__content
        .item-message__content__caution
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .item-message__content
        = form_with class: :item_comment_form do |form|
          = form.text_field :text_area, class: "item-textarea-default"
          .item-message-submit
            = form.submit "コメントする", class: "item-message-submit__btn"
    %ul.item-link
      %li.prev-link

        - @random.each do |random_item| 
          = link_to item_path(random_item.id), class: "prev-link__1" do
            %p.prev-link-text
              = random_item.item_name

  .item-socialmedia
    %ul.item-socialmedia__box
      %li
        = link_to "https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fshare.php%3Fu%3Dhttps%253A%252F%252Fitem.mercari.com%252Fjp%252Fm67600831012%252F&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=ja_JP", class:"facebook-icon" do
          %i.fab.fa-facebook-square.icon
      %li
        = link_to 'https://twitter.com/intent/tweet?text=%E3%82%B7%E3%83%A3%E3%83%8D%E3%83%AB%20%E3%83%AB%E3%83%BC%E3%82%B8%E3%83%A5%20%E2%80%A6%20%28%C2%A52%2C444%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm67600831012%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89&url=&original_referer=', class:"twitter-icon" do
          %i.fab.fa-twitter.icon
      %li
        = link_to 'https://access.line.me/oauth2/v2.1/login?returnUri=%2Foauth2%2Fv2.1%2Fauthorize%2Fconsent%3Fscope%3Dopenid%2Bprofile%2Bfriends%2Bgroups%2Btimeline.post%2Bmessage.write%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fsocial-plugins.line.me%252Flineit%252FloginCallback%253FreturnUrl%253Dhttps%25253A%25252F%25252Fsocial-plugins.line.me%25252Flineit%25252Fshare%25253Furl%25253D%252526text%25253D%252525E3%25252582%252525B7%252525E3%25252583%252525A3%252525E3%25252583%2525258D%252525E3%25252583%252525AB%25252520%252525E3%25252583%252525AB%252525E3%25252583%252525BC%252525E3%25252582%252525B8%252525E3%25252583%252525A5%25252520%252525E3%25252582%252525B3%252525E3%25252582%252525B3%252525E3%25252582%252525B7%252525E3%25252583%252525A3%252525E3%25252582%252525A4%252525E3%25252583%252525B3%2525252098%25252520%252525E3%25252582%252525A8%252525E3%25252583%25252588%252525E3%25252582%252525A5%252525E3%25252583%252525AB%252525E3%25252583%25252587%252525E3%25252582%252525A3%252525E3%25252583%252525BC%25252520%2525257C%25252520%252525E3%25252583%252525A1%252525E3%25252583%252525AB%252525E3%25252582%252525AB%252525E3%25252583%252525AA%25252520%252525E3%25252582%252525B9%252525E3%25252583%2525259E%252525E3%25252583%2525259B%252525E3%25252581%252525A7%252525E3%25252581%2525258B%252525E3%25252582%25252593%252525E3%25252581%2525259F%252525E3%25252582%25252593%25252520%252525E3%25252583%25252595%252525E3%25252583%252525AA%252525E3%25252583%2525259E%252525E3%25252582%252525A2%252525E3%25252583%25252597%252525E3%25252583%252525AA%2525250D%2525250Ahttps%25253A%25252F%25252Fitem.mercari.com%25252Fjp%25252Fm67600831012%25252F%252526from%25253Dline_scheme%26state%3Dce0707a1bac553e45d357a6e3c7504%26client_id%3D1446101138&loginChannelId=1446101138&loginState=TnwT6L8m28TbUMgasD9ZSm#/', class:"line-icon" do
          %i.fab.fa-line.icon
      %li
        = link_to 'https://www.pinterest.jp/',class: "pinterest-icon" do
          %i.fab.fa-pinterest.icon
-# 他の商品などは余裕があれば実装
-# .items-display__wrap
-#   = render 'view/items-display'
-#   = render 'view/items-display'

.default-container
  .bread-crumbs
    - breadcrumb :show_item
    = breadcrumbs separator: " &rsaquo; "
  
